<a href="https://colab.research.google.com/github/bonamere11/LearningPython/blob/main/ModulePackages.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import math
print(math.sqrt(89))
!pip install pandas

9.433981132056603
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as pd
import numpy as np
import matplotlib as mtlb

In [9]:
DataSet = {'Name': ['John', 'Bona', 'Aga', 'Chad', 'Caleb', 'Sol', 'Dani', 'Rica'], 'Age': [26, 18, 23, 40, 25, 12, 25, 38], 'Location': ['Manila', 'Makati', 'Cebu', 'Manila', 'Caloocan', 'Quezon City', 'Alabang', 'Laguna'], 'Occupation': ['Sales Rep', 'Analyst', 'Teacher', 'Sales Rep', 'Accountant', 'Student', 'Sales Rep', 'Business Owner']}
df = pd.DataFrame(DataSet)
print(df)

    Name  Age     Location      Occupation
0   John   26       Manila       Sales Rep
1   Bona   18       Makati         Analyst
2    Aga   23         Cebu         Teacher
3   Chad   40       Manila       Sales Rep
4  Caleb   25     Caloocan      Accountant
5    Sol   12  Quezon City         Student
6   Dani   25      Alabang       Sales Rep
7   Rica   38       Laguna  Business Owner