<a href="https://colab.research.google.com/github/bonamere11/LearningPython/blob/main/ModulePackages.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import math
print(math.sqrt(89))
!pip install pandas

9.433981132056603
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Intalling libraries

In [5]:
import pandas as pd
import numpy as np
import matplotlib as mtlb

Creating a dataset/dataframe

In [10]:
DataSet = {'Name': ['John', 'Bona', 'Aga', 'Chad', 'Caleb', 'Sol', 'Dani', 'Rica'], 'Age': [26, 18, 23, 40, 25, 12, 25, 38], 'Location': ['Manila', 'Makati', 'Cebu', 'Manila', 'Caloocan', 'Quezon City', 'Alabang', 'Laguna'], 'Occupation': ['Sales Rep', 'Analyst', 'Teacher', 'Sales Rep', 'Accountant', 'Student', 'Sales Rep', 'Business Owner']}
df = pd.DataFrame(DataSet)
print(df)

    Name  Age     Location      Occupation
0   John   26       Manila       Sales Rep
1   Bona   18       Makati         Analyst
2    Aga   23         Cebu         Teacher
3   Chad   40       Manila       Sales Rep
4  Caleb   25     Caloocan      Accountant
5    Sol   12  Quezon City         Student
6   Dani   25      Alabang       Sales Rep
7   Rica   38       Laguna  Business Owner

In [25]:
DataSet2 = {'School Attended': ['Manila National University', 'Makati University', 'Cebu National University', 'FEU', 'UST', 'DLSU', 'MAPUA', 'UP Manila']}
df2 = pd.DataFrame(DataSet2)
print(df2)

              School Attended
0  Manila National University
1           Makati University
2    Cebu National University
3                         FEU
4                         UST
5                        DLSU
6                       MAPUA
7                   UP Manila

Simple String Manipulation Code

In [19]:
ModuleGreeting1 = 'This is a review in '
Subject = 'Python Prgramming Lang'
Greeting = ModuleGreeting1 + Subject
print(Greeting)

This is a review in Python Prgramming Lang

Replacing/Editing String Values

In [26]:
from os import replace
NewGreeting = ModuleGreeting1 + Subject.replace('Prgramming Lang', 'Programming Language!')
print(NewGreeting.upper())

THIS IS A REVIEW IN PYTHON PROGRAMMING LANGUAGE!